@media screen and (hover: hover)
{
    /*
        hover effects
    */
    [document] {
        --hover-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        --hover-box-bgcolor: rgba(53, 36, 112, 0.2);
        --hover-box-flicker-bgcolor: #ffffff1a;
        --hover-box-blur-radius: 7.5px;
        --hover-box-flicker-blur-radius: 10px;
    }

    [document]>div:hover {
        transform: scale(var(--hover-scale-factor));
        cursor: pointer;
        z-index: calc(var(--container-layer-id) + 1);
        background: var(--hover-box-bgcolor);
        box-shadow: var(--hover-box-shadow);
        backdrop-filter: blur(var(--hover-box-blur-radius));
    }

    [document] div[flicker]:hover {
        animation: flicker 5s infinite;
    }

    @keyframes flicker {
        0% {
            background: transparent;
            backdrop-filter: blur(var(--hover-box-blur-radius));
        }

        92.25% {
            background: transparent;
            backdrop-filter: blur(var(--hover-box-blur-radius));
        }

        92.5% {
            background: radial-gradient(circle, var(--hover-box-bgcolor) 0%, var(--hover-box-flicker-bgcolor) 100%);
            backdrop-filter: blur(var(--hover-box-flicker-blur-radius));
        }

        93% {
            background: radial-gradient(circle, var(--hover-box-bgcolor) 0%, var(--hover-box-flicker-bgcolor) 100%);
            backdrop-filter: blur(var(--hover-box-flicker-blur-radius));
        }

        93.5% {
            background: var(--hover-box-bgcolor);
            backdrop-filter: blur(var(--primary-box-blur-radius));
        }

        94% {
            background: var(--hover-box-bgcolor);
            backdrop-filter: blur(var(--primary-box-blur-radius));
        }

        94.5% {
            background: radial-gradient(circle, var(--hover-box-bgcolor) 0%, var(--hover-box-flicker-bgcolor) 100%);
            backdrop-filter: blur(var(--hover-box-flicker-blur-radius));
        }

        95% {
            background: radial-gradient(circle, var(--hover-box-bgcolor) 0%, var(--hover-box-flicker-bgcolor) 100%);
            backdrop-filter: blur(var(--hover-box-flicker-blur-radius));
        }

        100% {
            background: transparent;
            backdrop-filter: blur(var(--hover-box-blur-radius));
        }
    }

    @keyframes backgroundFlicker {
        0% {
            backdrop-filter: blur(var(--hover-box-blur-radius));
            opacity: 0.4;
        }

        92.25% {
            backdrop-filter: blur(var(--hover-box-blur-radius));
            opacity: 0.4;
        }

        92.5% {
            backdrop-filter: blur(var(--hover-box-flicker-blur-radius));
            opacity: 1;
        }

        93% {
            backdrop-filter: blur(var(--hover-box-flicker-blur-radius));
            opacity: 1;
        }

        93.5% {
            backdrop-filter: blur(var(--primary-box-blur-radius));
            opacity: 0.4;
        }

        94% {
            backdrop-filter: blur(var(--primary-box-blur-radius));
            opacity: 0.4;
        }

        94.5% {
            backdrop-filter: blur(var(--hover-box-flicker-blur-radius));
            opacity: 1;
        }

        95% {
            backdrop-filter: blur(var(--hover-box-flicker-blur-radius));
            opacity: 1;
        }

        100% {
            opacity: 0.4;
            backdrop-filter: blur(var(--hover-box-blur-radius));
        }
    }

    [stats]>div:hover {
        --rectum: #ffffffdd;
    }
}
