@media screen
{
    @font-face {
        font-family: CyberwayRiders;
        src: url(static/CyberwayRiders.ttf);
    }
    @font-face {
        font-family: BravePhoenixItalic;
        src: url(static/BravePhoenixItalic.otf);
    }
}
